*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    display:flex;
    flex-direction:column;
    align-items:center;
    min-height:100vh;
    gap:30px;
    padding:20px;
    background:#f4f6f9;
}

h1{
    margin-top:20px;
}
.app{
    width: 50%;
    min-height: 300px;
    padding: 20px;
    box-shadow: 0px 0px 2px black;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

#taskList{
    list-style: none;
}

#taskList li{
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.input-row{
    display:flex;
}
.list{
    display: flex;
    gap: 10px;
}
.app input{
    flex:1;
    padding:10px;
    font-size:16px;
}
li{
    display: flex;
    justify-content: space-between;
}

.app button{
    padding:10px 15px;
    cursor:pointer;
}